*
!.gitignore
!.clang-format
!changers
!changers/*.py
!changers/*.json
!include
!include/*.h
!lights
!lights/*
!devices
!devices/*
!Makefile
!README.md
!resources
!src
!src/*.cpp
!style
!build
!.ola
!.ola/ola-kinet.conf
!.config
!.config/systemd
!.config/systemd/user
!.config/systemd/user/*.service
