*
!.gitignore
!.clang-format
!changers
!changers/*.py
!changers/*.json
!include
!include/*.h
!lights
!lights/*
!devices
!devices/*
!Makefile
!README.md
!resources
!resources/*
!resources/color_picker
!resources/color_picker/*
!src
!src/*.cpp
!style
!build
!.ola
!.ola/ola-kinet.conf
!.ola/ola-kinet_spds480ca.conf
!.config
!.config/systemd
!.config/systemd/user
!.config/systemd/user/*.service
!kiddies
!kiddies/*
